BORG_REPO="{{ hostvars[inventory_hostname].borg_backup[ansible_hostname].repo }}"
BORG_PASSPHRASE="{{ hostvars[inventory_hostname].borg_backup[ansible_hostname].passphrase }}"
BORG_RSH="ssh -i $RUN_ROOT/var/private_key"
BORG_REMOTE_PATH="/usr/local/bin/borg"
BORG_PATH="/usr/bin/borg"
BORG_MOUNTPOINT="/mnt/borg"

export BORG_REPO BORG_PASSPHRASE BORG_RSH BORG_REMOTE_PATH BORG_PATH BORG_MOUNTPOINT
